<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SlittersWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <applicationSettings>
        <SlittersWPF.Properties.Settings>
            <setting name="PLCAddr" serializeAs="String">
                <value>10.10.10.110</value>
            </setting>
            <setting name="MaxWidth" serializeAs="String">
                <value>8514</value>
            </setting>
            <setting name="MaxRollWidth" serializeAs="String">
                <value>2500</value>
            </setting>
            <setting name="OutOfTolerance" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CoarseWindow" serializeAs="String">
                <value>2.5</value>
            </setting>
            <setting name="UnSelectedPosWindow" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="InPosWindow" serializeAs="String">
                <value>0.125</value>
            </setting>
            <setting name="MaintModeEn" serializeAs="String">
                <value>False</value>
            </setting>
        </SlittersWPF.Properties.Settings>
    </applicationSettings>
</configuration>
